.animate__shakeX{
    animation-name: shakeX;
    animation-duration: 120ms;
    animation-iteration-count: 3;
    animation-play-state: running;
    transition: 150ms;
}

@keyframes shakeX {
    0%{
        transform: translate3d(-50%, -50%, 0);
    }
    50%{
        transform: translate3d(-56%, -50%, 0);
    }
    100%{
        transform: translate3d(-50%, -50%, 0);
    }
}